*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

/*navbar*/
#top-header{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px 50px;
   
}

#top-header img {
    width: 9%;
    min-width: 110px;
}

/* menu desktop */

.navbar .desktop{
    /* display: none; */
}

.navbar .desktop ul li{ 
    text-transform: uppercase;
    font-family: 'arial black', serif;
    font-style: italic;
    display: inline-block;
    color: black;
    font-size: 28px;
    margin-right: 22px;
}

.navbar .desktop ul li:hover{
    color: grey;
}

/* menu mobile */

.icon-menu{
    width: 50px;
    height: 50px;
    background-image: url('../img/cardapio.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer; 
    float: left;
    display: none;
   
}

.hide{transition:1s;height:0;}

.show{
    transition:1s;
    height: auto;
}

.navbar .mobile{
    z-index: 999;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 120px;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    list-style-type: none;
}

.navbar .mobile li{
    text-transform: uppercase;
    font-family: 'arial black', serif;
    font-style: italic;
    font-size: 28px; 
    border-bottom: 2px solid red;
    padding: 10px 0;
    color: black;
    text-shadow: 1px 2px white;
    
}

.navbar .mobile a{
    text-decoration: none; 
}

/* container imagem */

#container-main{
    width: 100%;
    height: 70vh;
   
}

.container{
    width: 100%;
    height: 70vh;
    background-image: url('../img/template1.jpg');
    background-size: cover;
    border: 2px solid black;
}

.container-info{
    padding: 100px;
}

.container-info h1{
    font-family: 'Arial Black' , sans-serif;
    font-style: italic;
    font-size: 80px;
    text-shadow: 5px 6px grey;
    letter-spacing: -8px;
}

.container-info p{
    font-size: 35px;

}

/*produtos*/

#produtos{
    width: 100%;
    height: auto;
}

#produtos h2{
    text-align: center;
    margin: 80px 0 50px 0;
    font-size: 40px;
}

.produtos-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
    
}

.item-produtos{
    width: 35%;
    text-align: center;

}

.item-produtos:nth-child(1){
    margin-right: -50px;
}

.item-produtos:nth-child(3){
    margin-left: -50px;
}

.item-produtos h3{
    font-family: 'arial', sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.item-produtos p{
    font-size: 22px;

}

.item-produtos img{
    border: 2px solid black;
    width: 80%;
    border-radius: 50px;
    margin: 10px;
}

.button-loja{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    
}

.button-loja input[type=submit]{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 20%;
    min-width: 180px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

/* video */
#Myvideo{
    width: 100%;
    height: auto;
}

/* quem somos */

#quem-somos{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    align-items: center;
}

.container-loja{
    width: 40%;
    height: auto;
}

.container-loja span{
    font-family: 'lobster',sans-serif;
    font-style: italic;
}

.container-loja h3{
    font-family: 'arial', sans-serif;
    font-size: 40px;

}

.container-loja p{
    padding: 40px;
    text-align: justify;
}

.container-loja input[type=submit]{
    border: none;
    outline: none;
    width: 35%;
    min-width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    
}

.quem-somos-img{
    background-image: url('../img/mobile.jpg');
    background-size: cover;
    width: 50%;
    min-width: 400px;
    height: 400px;
}

/* contato */

/* rodape */
#contato{
    background-color: black;
    text-align: center;
}

.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    max-width: 600px;
    padding: 40px;
}

.formulario input[type=text], .formulario input[type=email], .formulario input[type=telefone]{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: black;
    border-bottom: 3px solid red;
    margin-bottom: 10px;
    color: white;
    font-size: 18px;
}

form input[type=text]::placeholder, form input[type=email]::placeholder, form input[type=telefone]::placeholder, form  textarea::placeholder{
    color: grey;
    font-size: 18px;
    font-style: italic;
}


.formulario textarea{
    font-size: 20px;
    color: white;
    resize: none;
    border: 0;
    outline: 0;
    background-color: black;
    border-bottom: 3px solid red;
}

form input[type=submit]{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 50px;
    font-size: 25px;
    cursor: pointer;
    
}

.redes-sociais h3{
    color: white;
    font-size: 22px;
}

.redes-sociais p{
    padding: 20px 0;
    color: white;
}

.redes-sociais{
    width: 50%;
    margin: auto;
}

.img-redessociais{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}

.img-redessociais .item:nth-child(1){
   position: relative;
   left: 10%;
   
}

.img-redessociais .item:nth-child(3){
   position: relative;
   right: 10%;
   
 }

.item img{
    width: 40%;
}

